# MongoDB Atlas Connection String
# Get this from MongoDB Atlas -> Connect -> Connect your application
MONGO_URI=

# Secret key for JWT tokens
# Generate a random string (at least 32 characters)
JWT_SECRET=huadsilhualisdhasuildhuwdiashduilwhasjkdlbngrhijueolahgfbvujloaserdbgfvtreoiuashdvlkjasdhflkasjdhflkasjdhflkasjdhflkasjdhflkajsdfh
