# MongoDB Atlas Connection String
# Get this from MongoDB Atlas -> Connect -> Connect your application
MONGO_URI=mongodb+srv://user:<1016>@cluster0.fx7gw74.mongodb.net/?appName=Cluster0

# Secret key for JWT tokens
# Generate a random string (at least 32 characters)
JWT_SECRET=huadsilhualisdhasuildhuwdiashduilwhasjkdlbngrhijueolahgfbvujloaserdbgfvtreoiuashdvlkjasdhflkasjdhflkasjdhflkasjdhflkasjdhflkajsdfh
